<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a class="navbar-brand">IronMan</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#" [routerLink]="['/home']"> Home</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#" [routerLink]="['/customer']">Capture</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#" [routerLink]="['/customer/displayAll']">Display</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#" [routerLink]="['/cities']">Cities</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" button type="btn-margin" *ngIf="!_auth.isAuthenticated()" (click)="_auth.login()">LogIn</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" button type="btn-margin" *ngIf="_auth.isAuthenticated()" (click)="_auth.logout()">LogOut</a>
    </li>
  </ul>
  <ul class="nav navbar-nav">
  </ul>
</nav>
