<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#">IronMan</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      <!-- <a class="navbar-brand" href="#" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a> -->
      <!-- <li class="nav-item active"> weird effect,this makes home look odd-->
      <a class="navbar-brand" href="#" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">About</a> -->
      <a class="navbar-brand" href="#" [routerLink]="['/customer']">Capture</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">About</a> -->
      <a class="navbar-brand" href="#" [routerLink]="['/customer/displayAll']">Display</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#" [routerLink]="['cities']">Cities</a> -->
      <a class="navbar-brand" href="#" [routerLink]="['/cities']">Cities</a>
    </li>
    </ul>
  <ul class="nav navbar-nav">

   <!--
    <p>
   nav works!
    {{nav}}
    </p>

    <li class="nav-item">
      <a class="nav-link" href="https://medium.com/@beeman"><i class="fa fa-medium" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/@beeman_nl"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/beeman"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
    -->
  </ul>
</nav>


