<p>
  name-list works!
</p>

<div class='panel panel-primary'>
    <!-- <div class='panel-heading'>
        {{pageTitle}}
    </div> -->

    <!-- Filter the Products   -->
    <div> <!-- class='panel-body' -->

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <!-- <div class='table-responsive'> -->
        <div>
            <table class="table table-striped, table-hover"
                   *ngIf='customers && customers.length'>
                <thead class="thead-default">
                  <tr>
                    <th class='col-md-1'>Name</th>
                    <th class='col-md-1'>Surname</th>
                    <th class='col-md-1'>Country</th>
                    <th class='col-md-1'>Id</th>
                    <th class='col-md-1'>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let customer of customers'>
                        <td><a [routerLink]="['/Customer', customer.name]">
                            {{customer.name | titlecase }}
                            </a>
                        </td>
                        <td>{{ customer.surname | titlecase }}</td>
                        <td>{{ customer.country }}</td>
                        <td>{{ customer.id }}</td>

                        <td>
                          <button class='btn btn-success' (click)="loadNameToEdit(customer.id)">Edit</button>
                          <button class='btn btn-primary' (click)="deleteNameById(customer.id)">Delete</button>
                        </td>
                        <!-- <td>{{ customer.id }}</td> -->

                        <!-- <td>
                        <button class='btn btn-primary' (click)="deleteNameById(customer.id)">Delete</button>
                        <button class='btn btn-primary' (click)="loadNameToEdit(customer.id)">Edit</button>
                        </td> -->
                        <!-- <td><button class='btn btn-primary' (click)="deleteNameById(customer.id)">Delete</button> </td>
                        <td><button class='btn btn-primary' (click)="loadNameToEdit(customer.id)">Edit</button> </td> -->
                        <!-- <thead> -->
                          <!-- <td>

                          </td> -->
                        <!-- </thead> -->


                        <!-- <button type="submit" class="btn btn-success" [disabled]="!customerForm.form.valid">Submit</button> -->
                        <!-- <td>{{ product.price | currency:'USD':true:'1.2-2' }}</td> -->
                        <!-- <td>
                            <ai-star [rating]='product.starRating'
                                    (ratingClicked)='onRatingClicked($event)'>
                            </ai-star>
                       </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class='panel-footer'>
  <a class='btn btn-default' (click)='onBack()' style='width:80px'>
    <i class='glyphicon glyphicon-chevron-left'></i> Back
  </a>
</div>
