<div class='panel panel-primary'>
    <div>
      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
      <div>
        <table class="table table-striped, table-hover" *ngIf='customers && customers.length'>
          <thead class="thead-default">
            <tr>
              <th class='col-md-1'>Name</th>
              <th class='col-md-1'>Surname</th>
              <th class='col-md-1'>Country</th>
              <th class='col-md-1'>Id</th>
              <th class='col-md-1'>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let customer of customers'>
              <td>{{customer.name | titlecase }}</td>
              <td>{{ customer.surname | titlecase }}</td>
              <td>{{ customer.country }}</td>
              <td>{{ customer.id }}</td>

              <td>
                <button class='btn btn-success' (click)="loadNameToEdit(customer.id)">Edit</button>
                <button class='btn btn-primary' (click)="deleteNameById(customer.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<div class='panel-footer'>
  <a class='btn btn-default' (click)='onBack()' style='width:80px'>
    <i class='glyphicon glyphicon-chevron-left'></i> Back
  </a>
</div>
